.modal__content-edit {
  max-width: 496px;
  height: 304px !important;
  padding: 28px 28px 0;
}

.modal__content-edit .modal__save {
  background: #000;
  color: #fff;
  width: 128px;
  position: absolute;
  margin: 0;
}

.modal__content-edit .modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal__content-edit .modal__label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.modal__content-edit .modal__input {
  padding: 8px;
  font-size: 14px;
  margin-top: 5px;
}

.modal__content-edit .modal__submit {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
